:root {
  --green: #6EAD3A;
  --black: #222022;
  --gray: #4C4947;
  --light-gray: #CECCCE;
  --white: #EFEDEF;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}